@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 31, 41, 55;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .noColor {
    @apply bg-white text-slate-800 border-b dark:bg-slate-500 dark:border-gray-700 dark:border-b-white 
  }

  .noColorHighLight {
    @apply bg-white text-slate-800 border-b dark:bg-slate-500 dark:border-gray-700 dark:border-b-white hover:bg-blue-400
  }

  .colorsBuy {
    @apply bg-lime-800 border-b dark:bg-lime-800 dark:border-gray-700 text-white
  }

  .colorsSell {
    @apply bg-red-800 border-b dark:bg-red-800 dark:border-gray-700 text-white
  }

  .colorsHighlightBuy {
    @apply bg-lime-800 hover:bg-blue-400 border-b dark:bg-lime-800 dark:border-gray-700 text-white
  }

  .colorsHighlightSell {
    @apply bg-red-800 hover:bg-blue-400 border-b dark:bg-red-800 dark:border-gray-700 text-white
  }

  .advancedColorsBuy {
    @apply bg-lime-600 border-b dark:bg-lime-600 dark:border-gray-700 text-white
  }

  .advancedColorsSell {
    @apply bg-red-600 border-b dark:bg-red-600 dark:border-gray-700 text-white
  }

  .advancedColorsHighlightBuy {
    @apply bg-lime-600 hover:bg-blue-400 border-b dark:bg-lime-600 dark:border-gray-700 text-white
  }

  .advancedColorsHighlightSell {
    @apply bg-red-600 hover:bg-blue-400 border-b dark:bg-red-600 dark:border-gray-700 text-white
  }

  .advancedColorsOpen {
    @apply bg-lime-800 border-b dark:bg-lime-800 dark:border-gray-700 text-white
  }

  .advancedColorsClose {
    @apply bg-red-800 border-b dark:bg-red-800 dark:border-gray-700 text-white
  }

  .advancedColorsHighlightOpen {
    @apply bg-lime-800 hover:bg-blue-400 border-b dark:bg-lime-800 dark:border-gray-700 text-white
  }

  .advancedColorsHighlightClose {
    @apply bg-red-800 hover:bg-blue-400 border-b dark:bg-red-800 dark:border-gray-700 text-white
  }

  .tradeStatsNoColor {
    @apply border-b border-slate-600
  }

  .tradeStatsNoColorHighlight {
    @apply border-b border-slate-600 hover:bg-blue-400
  }

  .tradeStatsColorWin {
    @apply bg-white border-b border-slate-600 dark:bg-lime-800 dark:border-gray-700
  }

  .tradeStatsColorWinHighlight {
    @apply bg-white border-b hover:bg-blue-400 border-slate-600 dark:bg-lime-800 dark:border-gray-700
  }

  .tradeStatsColorLoss {
    @apply bg-white border-b border-slate-600 dark:bg-red-800 dark:border-gray-700
  }

  .tradeStatsColorLossHighlight {
    @apply bg-white border-b border-slate-600 dark:bg-red-800 dark:border-gray-700 hover:bg-blue-400
  }

  .urgentTrade {
    @apply bg-white border-b border-slate-600 dark:bg-green-700 dark:border-gray-700
  }

  .urgentTradeHighlight {
    @apply bg-white border-b border-slate-600 dark:bg-red-800 dark:border-gray-700
  }

  .enteredTrade {
    @apply bg-white border-b border-slate-600 dark:bg-blue-400 dark:border-gray-700 
  }

  .enteredTradeHighlight {
    @apply bg-white border-b border-slate-600 dark:bg-red-800 dark:border-gray-700
  }
}